<h1>Welcome to SALE SEASON!</h1>
<h3>Current Discounts:</h3>
<p> <% @merchant.discounts.each do |discount| %> </p>
  <%= link_to "Shop #{discount.percent}% Off", "/merchant/#{@merchant.id}/discounts/#{discount.id}" %> <%= discount.quantity_threshold %> items
<% end %>
<h2>Upcoming Holidays</h2>
<%= link_to "Create New Discount", "/merchant/#{@merchant.id}/discounts/new" %>
