<h1 style="color:deeppink" >Get <%= @discount.percent %>% Off <%= @discount.quantity_threshold %> Items Today!</h1>
<h3><%= link_to "Edit Discount", "/merchant/#{@merchant.id}/discounts/#{@discount.id}/edit" %></h3>
